n8n/threads_auto_post.json
{
  "name": "StockIQ & SmartLife - Threads Auto Post",
  "nodes": [
    {
      "id": "schedule-1",
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 1 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "code-1",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ],
      "parameters": {
        "jsCode": "\nconst now = new Date();\nconst tw = new Date(now.getTime() + 8*3600000);\nconst day = tw.getDay();\nconst isStockIQ = day % 2 !== 0;\n\nlet prompt;\nif (isStockIQ) {\n    prompt = `用繁體中文寫一則自然的 Threads 貼文，80-120字，推廣 StockIQ AI 股票分析工具。\n強調：省時間、AI分析、看懂市場趨勢、適合上班族。\n結尾加上：stockiq.tw\nHashtag 一定要有：#Stock #美股，再加一個相關的。\n只輸出貼文內容，不要加說明或標題。`;\n} else {\n    prompt = `用繁體中文寫一則自然的 Threads 貼文，80-120字，推廣 SmartLife Calendar 智慧行事曆 App。\n強調：時間管理、生活規劃、不漏掉重要事項。\niOS 下載：https://apps.apple.com/tw/app/smartlife-calendar/id6762165674\nAndroid 下載：https://play.google.com/store/apps/details?id=app.smartlifecalendar\nHashtag 一定要有：#App #好用工具，再加一個相關的。\n只輸出貼文內容，不要加說明或標題。`;\n}\n\nreturn [{json: {isStockIQ, prompt, day}}];\n"
      }
    },
    {
      "id": "http-1",
      "name": "Get StockIQ Trending",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        680,
        200
      ],
      "parameters": {
        "url": "https://ai-investment-hq-production.up.railway.app/trending",
        "method": "GET"
      }
    },
    {
      "id": "http-2",
      "name": "AI Generate Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        900,
        300
      ],
      "parameters": {
        "url": "https://api.anthropic.com/v1/messages",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "YOUR_ANTHROPIC_API_KEY"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": {
          "model": "claude-haiku-4-5",
          "max_tokens": 350,
          "messages": [
            {
              "role": "user",
              "content": "={{ $json.prompt }}"
            }
          ]
        }
      }
    },
    {
      "id": "code-2",
      "name": "Extract Post Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ],
      "parameters": {
        "jsCode": "\nconst r = $input.first().json;\nconst text = r.content[0].text.trim();\nconst isStockIQ = $node['Build Prompt'].json.isStockIQ;\nlet final = text;\nif (isStockIQ && !final.includes('stockiq.tw')) {\n    final += '\\n\\n🔍 https://stockiq.tw';\n}\nreturn [{json: {postText: final}}];\n"
      }
    },
    {
      "id": "http-3",
      "name": "Create Threads Container",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1340,
        300
      ],
      "parameters": {
        "url": "https://graph.threads.net/v1.0/26779577381733831/threads",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": {
          "media_type": "TEXT",
          "text": "={{ $json.postText }}",
          "access_token": "THAHZCwqhe0ZAWtBYlkwTHJ6dEhYUXVLYWVWMjVybkFQRGhORl85S3FRaWd2UjgxWHBwY0tELVp4Yk5GaE84QllidjNOLUtTaF9HLTRPVG43VEhOSndYeVdYbmkzTFB2dUI4dHVSaDl1OFhqcHFqUGY3ZAlFESjZAteHVnUHhwNFM2SlVDcW1USl9FZAUhpSmFLaHMZD"
        }
      }
    },
    {
      "id": "wait-1",
      "name": "Wait 5s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1560,
        300
      ],
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      }
    },
    {
      "id": "http-4",
      "name": "Publish to Threads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1780,
        300
      ],
      "parameters": {
        "url": "https://graph.threads.net/v1.0/26779577381733831/threads_publish",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": {
          "creation_id": "={{ $json.id }}",
          "access_token": "THAHZCwqhe0ZAWtBYlkwTHJ6dEhYUXVLYWVWMjVybkFQRGhORl85S3FRaWd2UjgxWHBwY0tELVp4Yk5GaE84QllidjNOLUtTaF9HLTRPVG43VEhOSndYeVdYbmkzTFB2dUI4dHVSaDl1OFhqcHFqUGY3ZAlFESjZAteHVnUHhwNFM2SlVDcW1USl9FZAUhpSmFLaHMZD"
        }
      }
    }
  ],
  "connections": {
    "Daily Schedule": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "Get StockIQ Trending",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Generate Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get StockIQ Trending": {
      "main": [
        [
          {
            "node": "AI Generate Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Generate Post": {
      "main": [
        [
          {
            "node": "Extract Post Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Post Text": {
      "main": [
        [
          {
            "node": "Create Threads Container",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Threads Container": {
      "main": [
        [
          {
            "node": "Wait 5s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5s": {
      "main": [
        [
          {
            "node": "Publish to Threads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}