n8n/threads_auto_post.json
{
  "name": "StockIQ & SmartLife - Threads Auto Post",
  "nodes": [
    {
      "id": "schedule-1",
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 1 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "code-1",
      "name": "Get Day of Week",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ],
      "parameters": {
        "jsCode": "const now = new Date();\nconst taiwanOffset = 8 * 60 * 60 * 1000;\nconst taiwanTime = new Date(now.getTime() + taiwanOffset);\nconst day = taiwanTime.getDay();\nconst isStockIQDay = day % 2 !== 0;\nreturn [{json: {day, isStockIQDay, product: isStockIQDay ? 'stockiq' : 'smartlife'}}];"
      }
    },
    {
      "id": "http-1",
      "name": "Get StockIQ Trending",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        680,
        200
      ],
      "parameters": {
        "url": "https://ai-investment-hq-production.up.railway.app/trending",
        "method": "GET"
      }
    },
    {
      "id": "http-2",
      "name": "AI Generate Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        900,
        300
      ],
      "parameters": {
        "url": "https://api.anthropic.com/v1/messages",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "YOUR_ANTHROPIC_API_KEY"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ (() => { const isStockIQ = $node[\"Get Day of Week\"].json.isStockIQDay; const trending = ($node[\"Get StockIQ Trending\"].json.trending || ['NVDA','AAPL','TSLA']).slice(0,3).join('、'); const prompt = isStockIQ ? '你是台灣投資愛好者，今日熱門股票：' + trending + '。用繁體中文寫自然的Threads貼文80-120字，介紹在stockiq.tw可看AI分析，加2-3個hashtag，語氣自然不像廣告。' : '你是台灣生活達人，用繁體中文寫自然的Threads貼文80-120字，推廣SmartLife Calendar智慧行事曆App幫助時間管理，附App Store https://apps.apple.com/tw/app/smartlife-calendar/id6762165674 和Google Play https://play.google.com/store/apps/details?id=app.smartlifecalendar，加2-3個hashtag，語氣自然。'; return JSON.stringify({model:'claude-haiku-4-5',max_tokens:300,messages:[{role:'user',content:prompt}]}); })() }}"
      }
    },
    {
      "id": "code-2",
      "name": "Extract Post Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ],
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst text = response.content[0].text;\nlet finalText = text.trim();\nif ($node['Get Day of Week'].json.isStockIQDay && !finalText.includes('stockiq.tw')) {\n  finalText = finalText + '\\n\\n🔍 免費分析：https://stockiq.tw';\n}\nreturn [{json: {postText: finalText}}];"
      }
    },
    {
      "id": "http-3",
      "name": "Create Threads Container",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1340,
        300
      ],
      "parameters": {
        "url": "https://graph.threads.net/v1.0/26779577381733831/threads",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "string",
        "body": "={\"media_type\": \"TEXT\", \"text\": \"{{ $json.postText }}\", \"access_token\": \"THAHZCwqhe0ZAWtBYmF1RWZAfelVzdGJwMmZA1c2JPZAjdhcTRSSTVQSFBZAMHJ6Q21Na1BmOXBHVHdYN29GQjJlRElLOTVEREhXTERZAbG9jalZAhNUY1Nlhldld4UWU2RjdneW1YeFZAjNjNqU0lHRzVOUVFwSnkyUVE3SGZA4bXdQeE0xQ3RYU1lpakc3aDA5TFhqMHMZD\"}"
      }
    },
    {
      "id": "wait-1",
      "name": "Wait 5s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1560,
        300
      ],
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      }
    },
    {
      "id": "http-4",
      "name": "Publish to Threads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1780,
        300
      ],
      "parameters": {
        "url": "https://graph.threads.net/v1.0/26779577381733831/threads_publish",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "string",
        "body": "{\"creation_id\": \"{{ $json.id }}\", \"access_token\": \"THAHZCwqhe0ZAWtBYmF1RWZAfelVzdGJwMmZA1c2JPZAjdhcTRSSTVQSFBZAMHJ6Q21Na1BmOXBHVHdYN29GQjJlRElLOTVEREhXTERZAbG9jalZAhNUY1Nlhldld4UWU2RjdneW1YeFZAjNjNqU0lHRzVOUVFwSnkyUVE3SGZA4bXdQeE0xQ3RYU1lpakc3aDA5TFhqMHMZD\"}"
      }
    }
  ],
  "connections": {
    "Daily Schedule": {
      "main": [
        [
          {
            "node": "Get Day of Week",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Day of Week": {
      "main": [
        [
          {
            "node": "Get StockIQ Trending",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Generate Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get StockIQ Trending": {
      "main": [
        [
          {
            "node": "AI Generate Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Generate Post": {
      "main": [
        [
          {
            "node": "Extract Post Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Post Text": {
      "main": [
        [
          {
            "node": "Create Threads Container",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Threads Container": {
      "main": [
        [
          {
            "node": "Wait 5s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5s": {
      "main": [
        [
          {
            "node": "Publish to Threads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}